:root {
}
body {
  background-color: black;
  text-align: center;
}
#whole {
  /* width: 100%; */
  /* height: 300px; */
  width: 800px;
  height: 500px;
  margin: auto;
  text-align: center;
  background: url("img/background.png") center/contain no-repeat;
  /* center/cover no-repeat; */
}

.playBtn {
  position: relative;
  top: 40px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #fff263;
  cursor: pointer;
  border: 2px solid black;

  /* 클릭했을 때, 아무 변화가 없도록 */
  outline: none;
}
.playBtn i {
  font-size: 25px;
}

.timer {
  position: relative;
  top: 60px;
  /* display: block; */
  width: 80px;
  margin: auto;
  border-radius: 5px;
  border: 2px solid black;
  background-color: white;
}

.rabbitNum {
  position: relative;
  top: 80px;
  margin: auto;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background-color: #fb8c00;
  color: white;
  border: 2px solid black;
}
